<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="amazon_package.AmazonProject.TC_3_AddToWishList"/>
      <class name="amazon_package.AmazonProject.TC_4_EditProfile"/>
      <class name="amazon_package.AmazonProject.TC_6_AmzFilters"/>
      <class name="amazon_package.AmazonProject.TC_9_AmzAddToCart"/>
      <class name="amazon_package.AmazonProject.TC_3_AmzLoginWithInvalidPassword"/>
      <class name="amazon_package.AmazonProject.TC_1_AmzRegistration"/>
      <class name="amazon_package.AmazonProject.TC_2_AmzLoginWithValidCredentials"/>
      <class name="amazon_package.AmazonProject.TC10_AmzUpdateCart"/>
      <class name="amazon_package.AmazonProject.TC_5_AmzSearchProduct"/>
      <class name="amazon_package.AmazonProject.TC_3_AmzLoginWithInvalidEmail"/>
      <class name="amazon_package.AmazonProject.TC_7_ProductPageCheckInfo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
